header {
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #181818;
  -webkit-app-region: drag;
}

header button {
  all: unset;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
  -webkit-app-region: no-drag;
}

#close {
  background-color: red;
}

#minimize {
  background-color: yellow;
}

#maximize {
  background-color: lime;
}